<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="mt-4 text-center">{{ blog.title }}</h1>
        <p class="lead text-center">
          by
          <a href="#" class="author-link">Admin</a>
        </p>
        <p class="posted-on text-center">Posted on {{ formatDate(blog.created_at) }}</p>
        <img class="img-fluid rounded blog-image mx-auto d-block mb-4" :src="blog.image" alt="" />
        <p class="lead blog-content">{{ blog.content }}</p>
        <div class="card my-4">
          <h5 class="card-header bg-primary text-white text-center">Leave a Comment:</h5>
          <div class="card-body">
            <form @submit.prevent="addComment">
              <div class="form-group">
                <textarea class="form-control" rows="3" v-model="comment" placeholder="Write your comment here"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
        <div class="card my-4" v-for="comment in blog.comments" :key="comment.id">
          <h5 class="card-header bg-secondary text-white text-center">Comment by User</h5>
          <div class="card-body">
            <p class="text-center">{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      blog: {},
      comment: ''
    };
  },
  mounted() {
    axios.get(`http://127.0.0.1:8000/api/blogs/${this.$route.params.id}`)
      .then(response => {
        this.blog = response.data.data;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    addComment() {
      const token = localStorage.getItem('token');
      axios.post(`http://127.0.0.1:8000/api/blogs/${this.blog.id}/comments`, {
        content: this.comment
      }, {
        headers: {
          'Authorization': `Bearer ${token}`
        }
      })
      .then(response => {
        this.blog.comments.push(response.data.data);
        this.comment = '';
      })
      .catch(error => {
        console.log(error);
      });
    },
    formatDate(dateString) {
      return new Date(dateString).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });
    }
  }
};
</script>

<style scoped>
.blog-image {
  max-width: 80%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.blog-image:hover {
  transform: scale(1.05);
}

.author-link {
  color: #007bff;
  text-decoration: none;
}

.author-link:hover {
  color: #0056b3;
}

.posted-on {
  font-style: italic;
}

.blog-content {
  font-size: 1.1rem;
  line-height: 1.6;
}

.card {
  border: none;
  border-radius: 0.25rem;
}

.form-control {
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
</style>