<template>
  <div class="container mt-5">
    <h1>Create Blog</h1>
    <form @submit.prevent="createBlog">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" v-model="title" required>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" v-model="content" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Create</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      title: '',
      content: ''
    };
  },
  methods: {
    createBlog() {
      const token = localStorage.getItem('token');
      axios.post('/api/blogs', {
        title: this.title,
        content: this.content
      }, {
        headers: {
          'Authorization': `Bearer ${token}`
        }
      })
      .then(response => {
        this.$router.push('/');
      })
      .catch(error => {
        console.error(error);
      });
    }
  }
};
</script>
