<template>
  <div class="container mt-5">
    <h1 class="mb-4">Latest Blogs</h1>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4" v-for="blog in blogs" :key="blog.id">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title ?? console.log(blog) }}</h5>
            <p class="card-text">{{ truncateContent(blog.content) }}</p>
            <router-link :to="{ name: 'BlogDetail', params: { id: blog.id } }" class="btn btn-primary stretched-link">Read More</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      blogs: []
    };
  },
  mounted() {
    axios.get('http://127.0.0.1:8000/api/blogs')
      .then(response => {
        this.blogs = response.data.data.data; 
        // console.log(this.blogs)
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    truncateContent(content) {
      // Check if content is defined before accessing its properties
      if (content) {
        return content.substring(0, 150) + '...';
      }
      return '';
    }
  }
};
</script>

<style>
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
</style>