<template>
  <div>
    <h1>Login</h1>
    <form @submit.prevent="login">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" v-model="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" v-model="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      email: '',
      password: ''
    };
  },
  methods: {
    login() {
      axios.post('http://127.0.0.1:8000/api/login', {
        email: this.email,
        password: this.password
      })
      .then(response => {
        console.log(response.data); // Check the response data structure
        const token = response.data.data.access_token; // Ensure proper access to the token
        localStorage.setItem('token', token); // Store the token in local storage
        this.$router.push('/').then(() => window.location.reload()); // Redirect to home page
      })
      .catch(error => {
        console.error(error);
      });
    }
  }
};
</script>