<template>
    <div class="container mt-5">
      <h1>Logout</h1>
      <button @click="logout" class="btn btn-primary mt-3">Logout</button>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    methods: {
      logout() {
        const token = localStorage.getItem('token');
        axios.post('/api/logout', null, {
          headers: {
            'Authorization': `Bearer ${token}`
          }
        })
        .then(() => {
          localStorage.removeItem('token');
          this.$router.push('/login');
        })
        .catch(error => {
          console.error(error);
        });
      }
    }
  };
  </script>  