<template>
    <div class="container mt-5">
      <h1>User Profile</h1>
      <p>Name: {{ user.name }}</p>
      <p>Email: {{ user.email }}</p>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        user: null
      };
    },
    mounted() {
      const token = localStorage.getItem('token');
      axios.get('/api/user', {
        headers: {
          'Authorization': `Bearer ${token}`
        }
      })
      .then(response => {
        this.user = response.data.data;
      })
      .catch(error => {
        console.error(error);
      });
    }
  };
  </script>  